.modalContent{
    width: 80%;
    height: 420px;
    border: none;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap:20px;  
    margin-top: 20px; 
}

.gap10{
    margin-bottom: 10px!important;
}

.actionContainer{
    display: flex;
    justify-content: flex-end;
}